<!DOCTYPE HTML>
<html>
	<head>
		<title>404</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/aboutus.less">
		<noscript><link rel="stylesheet" href="./ass.ts/css/noscript.css" /></noscript>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer ></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
							<a href="/" class="logo">
								<span class="symbol"><img src="../images/rotatingLogo.svg" alt="" /></span><span class="title">Covid Crushers</span>
							</a>

							
				<!-- Main -->
					<div id="main">
						<div class="inner">
              <h1>404 - Page not found</h1>
						</div>
					</div>

							
	</body>
</html>	