<!DOCTYPE HTML>
<html>
	<head>
		<title>Help</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link rel="icon" href="/images/rotatingLogo.svg" type ="image/x-icon">
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
		<style>
			p{
				text-align: justify;
  			text-justify: inter-word;
			}
			body{
				background-color: #ffffff;
				color: #0D0D0D;
			}
		</style>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="../images/rotatingLogo.svg" alt="" /></span><span class="title">Covid Crushers</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				<nav id="menu">
					<h2>Menu</h2>
					<ul>
            <li><a href="/login">Log in</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/origin">Covid-19 Origin</a></li>
            <li><a href="/covidstats">Covid19 Status</a></li>
            <li><a href="/covidResources">Covid19 Resources</a></li>
            <li><a href="/precautions">Covid-19 precautions</a></li>
            <li><a href="/help">Covid-19 HelpLine</a></li>
            <li><a href="/sessionLogout">Log out</a></li>
          </ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Supporting relief efforts and government organizations.</i></h1>
						
							
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="https://twitter.com/Vineeth_Polkam" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/covid.crushers/" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/covid.crushers/" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/Polkam-Vineeth" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="mailto:covidcrushersinfo@gmail.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy;ovid &copy;rushes. All rights reserved</li>
								<!-- <li>Design: <a href="#"> Vineeth Kumar </a></li> -->
								<!-- <li><a href="#">Uday</a></li> -->
								<!-- <li><a href="#">Vishnu</a></li> -->
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>