<!DOCTYPE HTML>
<html>
	<head>
		<title>Help</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="twitter:dnt" content="on">
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link rel="icon" href="/images/rotatingLogo.svg" type ="image/x-icon">
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
		<style>
			p{
				text-align: justify;
  			text-justify: inter-word;
			}
			body{
				/* background-color: #f4f0e8; */
				color: #000000;
			}
			.cuscenter{
				text-align: center;
			}

			ul,li{
				list-style-type:none;
				text-decoration: none;
			}

			.box{
				background-color: #efc4b4;
				color: #000;
			}
		</style>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="../images/rotatingLogo.svg" alt="" /></span><span class="title">Covid Crushers</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				<nav id="menu">
					<h2>Menu</h2>
					<ul>
						<li><a href="/login">Log in</a></li>
						<li><a href="/">Home</a></li>
						<li><a href="/origin">Covid-19 Origin</a></li>
						<li><a href="/covidstats">Covid19 Status</a></li>
						<li><a href="/covidResources">Covid19 Resources</a></li>
						<li><a href="/medications">Covid-19 Medications</a></li>
						<li><a href="/vaccine">Covid-19 vaccine slots</a></li>
						<li><a href="/sessionLogout">Log out</a></li>
          </ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h2 style="font-size: 30px;">Supporting relief efforts.</h2 >
							<h2>List of NGOs providing relief during Covid-19 :</h2>
							<ul>
								
								
								<li>
									<div class="box">		
										<h3><a href="https://soodcharityfoundation.org/" target="blank">1. Sood Charity Foundation</a> </h3>
										<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Lets PLANT.🌱<br>OXYGEN❤ plants across India.🇮🇳<a href="https://twitter.com/hashtag/MissionHospitalOxygen?src=hash&amp;ref_src=twsrc%5Etfw">#MissionHospitalOxygen</a><a href="https://twitter.com/CryptoRelief_?ref_src=twsrc%5Etfw">@CryptoRelief_</a> <a href="https://twitter.com/roundtableindia?ref_src=twsrc%5Etfw">@roundtableindia</a><a href="https://twitter.com/SonuSood?ref_src=twsrc%5Etfw">@SonuSood</a> 🇮🇳 <a href="https://t.co/I7dm2ANsoN">pic.twitter.com/I7dm2ANsoN</a></p>&mdash; Sood Charity Foundation (@SoodFoundation) <a href="https://twitter.com/SoodFoundation/status/1402617537741737987?ref_src=twsrc%5Etfw">June 9, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
										<span class="explanation">
											Sood Charity Foundation is an NGO founded by Actor and Philanthropist, Sonu Sood. He has become a household name and a support system for countless families during the Pandemic. His dedication towards the common man propelled him to start various initiatives to help people of all stature. He is passionately leading a dedicated team with a strong vision to continue to serve the masses across the country through his humanitarian endeavours. This includes providing state-of-the-art healthcare, education, employment, and technology advancements. With the help of Sood Charity Foundation, he wishes to initiate a movement that encourages people to join hands towards serving humanity. Sood Charity Foundation has helped thousands of people across the world. The constant efforts of this organization is to raise awareness and provide care for those in need.
										</span>				
										<br>
											<b>Email:</b> supportus@soodcharityfoundation.org
										<br>
											<b>Place:</b>	PAN INDIA
											<br>
										<a href="https://soodcharityfoundation.org/donate/" target="blank">
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>


								<li>
									<div class="box">		
										<h3><a href="https://accessfoundation.in/home" target="blank">
											2. Access Foundation</a> 
										</h3>
										<span class="explanation">
											Access Foundation a  registered NGO u/s 12AA and 80G of Income tax act, has been working since the beginning of Pandemic  to provide free ambulance services with the fleet of 6 ambulances we presently have . More than 350 patients have benefitted using our free cylinders and concentrators services. Access is also a part of 2 isolation centres at Golconda and Malakpet which will be run free of cost. Ration has been distributed to about 3500  afflicted families during the past one year .<br>
											<b>Email:</b> accessfoundationhyd@gmail.com
											<br>
											<b>Place:</b> Hyderabad
										</span>				
											<a href="https://accessfoundation.in/donation" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>

								<li>
									<div class="box">		
										<h3><a href="https://www.missionoxygen.org/" target="blank">3. Mission Oxygen</a> </h3>
										<span class="explanation">
											Mission Oxygen began as a overnight initiative by a community of founders and entrepreneurs across Delhi/NCR to aid and assist hospitals that were running out of oxygen to treat Covid19 patients.
											Different members across this community segregated tasks according to their core competencies across crowdfunding, supply procurement, logistics, distribution/demand estimation, amplification and PR with the aim of purchasing, importing and delivering life saving concentrators to hospitals and nursing homes across the city.
										<br>
											<b>Place:</b> Delhi NCR
										</span>				
											<a href="https://fundraisers.giveindia.org/fundraisers/mission-oxygen-helping-hospitals-save-lives-pezqhlgl5" target="_blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>

								<li>
									<div class="box">		
										<h3>4. Enrich Lives Foundation</h3>
										<span class="explanation">
											Enrich Lives Foundation (formerly Annapurna Movement) is a non-profit organization focused on hunger alleviation, education, women empowerment, poverty alleviation and public health. Enrich Lives Foundation is now involved in a variety of causes affecting the most underprivileged sections of the society: <br>
											1) Meal distribution <br> 2) Grocery kit distribution <br> 3) Job placements
										<br>
											<b>Email:</b> eam@enrichlivesfoundation.org
											<br>
											<b>Place:</b> Mumbai
										</span>				
											<a href="https://www.ketto.org/fundraiser/supporting-the-needy-through-COVID-19-crisis" target="_blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>


								<li>
									<div class="box">		
										<h3><a href="https://www.sphoorti.org/" target="blank">5. Spoorthi Foundation</a> </h3>
										<span class="explanation">
											Sphoorti creates a safe and secure haven for our children to learn, improve, and bloom into who they really are so they can grow up to afford themselves the dignity and strength they need to break free of the cycle. As an organization, we work to erase the barriers between the kids and their potential. This campaign can help provide basic nutrition and vitamin and mineral tablets, dry fruits along with sanitary products like masks, gloves and sanitizers.
										<br>
											<b>Email:</b> srivyal@sphoorti.org	
											<br>
											<b>State:</b> Telangana
										</span>				
											<a href="https://pages.razorpay.com/pl_EcmuS3Uv5CxrfX/view" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>

								<li>
									<div class="box">		
										<h3><a href="https://hemkuntfoundation.com/contact/" target="blank">6. Hemkunt Foundation</a> </h3>
										<span class="explanation">
											Gurugram based NGO working on 12+ projects from last 12 years for upliftment of underprivileged section of society. They are currently distributing Oxygen Cylinders to COVID-19 patients for free.
										<br>
											<b>Email:</b> hemkuntfoundation13@gmail.com
											<br>
											<b>State:</b> Delhi NCR, Haryana.
										</span>				
											<a href="https://www.donatekart.com/Hemkunt-Foundation/Give-Oxygen-Cylinders?utm_source=facebook&utm_medium=cpc&utm_campaign=2834_hemkunt" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>

								<li>
									<div class="box">		
										<h3><a href="https://actgrants.in/" target="blank">7. ACT Grants</a> </h3>
										<span class="explanation">
											ACT grant is backing India’s best social entrepreneurs to combat COVID-19 using inventive start-up thinking. they are using their resources to find solutions to the acute shortage of oxygen by setting up oxygen concentrators at hospitals and nursing homes.
										<br>
											<b>Email:</b> core-pm@actgrants.in
											<br>
											<b>Place:</b> Bengaluru and Mumbai.
										</span>				
											<a href="https://actgrants.in/donate/" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>

								<li>
									<div class="box">		
										<h3><a href="https://mcksfood.com/" target="blank">8. MCKS Food	</a> </h3>
										<span class="explanation">
											MCKS Food for the Hungry Foundation Delhi, is a not for profit organization started in 2005. Infused with Master Choa Kok Sui's teachings, the foundation looks to be the force bringing about the change in and around us. They affect the lives of people in a tangible way; reaching out with food to the hungry and empowering them with skills to move from despair to hope.
										<br>
											<b>Email:</b> info@mcksfood.com
											<br>
											<b>State:</b> Delhi, Jharkhand, Orissa.
										</span>				
											<a href="https://mcksfood.com/donate" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>

								<li>
									<div class="box">		
										<h3><a href="https://www.khushiyaanfoundation.org/" target="blank">9. Khushiyaan Foundation</a> </h3>
										<span class="explanation">
											Khushiyaan Foundation is extending its on-ground support by feeding people through their "Roti-Ghar" initiative.
										<br>
											<b>Email:</b> support@khushiyaanfoundation.org
											<br>
											<b>Place:</b> Bengaluru, Hyderabad, Delhi, Orissa.
										</span>				
											<a href="https://donate.khushiyaanfoundation.org/donate" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>

								<li>
									<div class="box">		
										<h3><a href="https://covid.giveindia.org/" target="blank">10. Give India</a> </h3>
										<span class="explanation">
											Established in 2000, Give India is one of the most trusted crowdfunding websites in India. They have launched ICRF-2 to support gaps in healthcare and other critical needs.  
										<br>
											<b>Email:</b> ruchi@giveindia.org
											<br>
											<b>Place:</b> Delhi, Bengaluru, Mumbai, Patna
										</span>				
											<a href="https://covid.giveindia.org/" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>
								

								<li>
									<div class="box">		
										<h3>11. Breathe India</h3>
										<span class="explanation">
											A group of IIT alumni, in coordination with SaveLife foundation have started a fund collection drive for oxygen .concentrators to be setup in and around Delhi NCR region.<br>
											<b>Email:</b> ashu95.ranka@gmail.com
											<br>
											<b>Place:</b> Delhi NCR
											<br>
										</span>				
											<a href="https://www.ketto.org/fundraiser/mission-oxygen-helping-hospitals-to-save-lives" target="blank">
											<b>Contribute for a better future.</b> <br>
										</a>
									</div>
								</li>

								<li>
									<div class="box">		
										<h3><a href="https://www.concernindiafoundation.org/" target="blank">12. Concern India</a> </h3>
										<span class="explanation">
											Concern India Foundation was set up in 1991 as a registered non-profit, public charitable trust to extend financial and non-financial support to grassroots level NGOs working in the areas of education, health and community development.
										<br>
											<b>Email:</b> bangalore@concernindia.org // gaver.chatterjee@concernindia.org
											<br>
											<b>Places:</b> Mumbai, New Delhi, Bengaluru, Chennai, Kolkata, Hyderabad.
										</span>				
											<a href="https://www.concernindiafoundation.org/donate/" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>

								<li>
									<div class="box">		
										<h3><a href="https://kvnfoundation.com/" target="blank">13. KVN Foundation</a> </h3>
										<span class="explanation">
											KVN Foundation is supplying free oxygen concentrators to the needy so that they can get critical life support till they find a hospital bed, get access to doctors, or recover completely. These will be provided for 5 to 10 days’ duration as needed, will then be taken back, sanitized, reused on next patient with fresh set of consumables.
										<br>
											<b>Contact no:</b> +91 72920 09116
											<br>
											<b>Places:</b> Bangalore, Chennai, Hyderabad, Mumbai, and Noida.
										</span>				
											<a href="https://fundraisers.giveindia.org/nonprofits/kvn-foundation" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>

								<li>
									<div class="box">		
										<h3><a href="https://www.udayfoundation.org/" target="blank">14. Uday Foundation</a> </h3>
										<span class="explanation">
											The Uday Foundation is a non-profit organization based in New Delhi, India.  disaster relief. It is starting a campaign #StayWell to make and distribute at least 10,000 Wellness Kits – comprising some basic over the counter medicines, a tetra-pack of healthy drink such as ORS, oximeter, etc.	
										<br>
											<b>Email:</b> info@udayfoundation.org
											<br>
											<b>States:</b> Delhi NCR, Jammu and Kashmir, Uttarakhand, Uttar Pradesh, Andhra Pradesh and Orissa
										</span>				
											<a href="https://www.udayfoundation.org/donatefood/" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>

								<li>
									<div class="box">		
										<h3><a href="https://www.planindia.org/" target="blank">15. Plan India</a> </h3>
										<span class="explanation">
											Plan India has reached out to 200,000+ families with dry ration and hygiene kits, meeting the urgent needs of 1 million+ people on the ground in 12 states. To ensure learning does not stop for girls’ during the pandemic, Plan India is distributing 35000+ education kits. Each kit contains textbooks and reference books as per the girls’ grade, notebooks, pen and pencil.
										<br>
											<b>Email:</b> planindia@planindia.org
											<br>
											<b>Place:</b> Siddharth Nagar (Uttar Pradesh), Haridwar (Uttarakhand), Hazaribagh, West Singhbhum, and Khunti (Jharkhand), Karauli (Rajasthan), and Muzaffarpur (Bihar).
										</span>				
											<a href="https://www.planindia.org/get-involved/make-a-donation/covid-19-crisis/" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>


								<li>
									<div class="box">		
										<h3><a href="https://www.akshayapatra.org/" target="blank">16. Akshaya patra Foundation</a> </h3>
										<span class="explanation">
											The Akshaya Patra Foundation is an NGO in India headquartered in Bengaluru. Our organization strives to eliminate classroom hunger by implementing the Mid-Day Meal Scheme in the government schools and government-aided schools. Alongside, Akshaya Patra also aims at countering malnutrition and supporting the right to education of socio-economically disadvantaged children.
										<br>
											<b>Email:</b> infodesk@akshayapatra.org
											<br>
											<b>States	:</b> Andhra Pradesh, Assam, Chhattisgarh, Delhi, Gujarat, Karnataka, Orissa, Rajasthan, Maharashtra, Tamil Nadu, Telangana, Tripura, Uttar Pradesh.
										</span>				
											<a href="https://www.akshayapatra.org/onlinedonations	" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>


								<li>
									<div class="box">		
										<h3><a href="https://www.seedsindia.org/covid19/" target="blank">17. SEEDS (Sustainable Environment and Ecological Development Society)</a> </h3>
										<span class="explanation">
											SEEDS is a leading humanitarian organization recently awarded with the most prestigious annual Subhash Chandra Bose Aapda Prabandhan Puraskar 2021 by the Government of India for its invaluable contribution and selfless service rendered in the field of Disaster Management. It is currently working towards the continuing challenge of Covid-19. Sharing the increased burden on our health care system, SEEDS is supporting through:
											<br>1) Stepping up vaccination drive <br>
											2) Establish Covid Care Centres <br>
											3) Helpline for communities <br>
											4) Facilitating supply of oxygen and providing medical services through virtual platforms
										<br>
											<b>Email:</b> ssharma@seedsindia.org	
											<br>
											<b>States:</b> Delhi, Haryana, Uttarakhand, Bihar, West Bengal, Kerala, Karnataka, Maharashtra, Telangana, Punjab, and Uttar Pradesh.
										</span>				
											<a href="https://www.seedsindia.org/donation/?donation_for=covid19" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>

								<li>
									<div class="box">		
										<h3><a href="https://www.khaanachahiye.com/" target="blank">18. Khaana Chahiye</a> </h3>
										<span class="explanation">
											Khaana Chahiye Foundation started as a citizen-led campaign in March 2020 to meet the immediate, lockdown-induced food demands of the homeless, migrant workers, daily wage laborers, and other vulnerable populations in the city of Mumbai
										<br>
											<b>Email:</b> contact@khaanachahiye.com
											<br>
											<b>Place:</b> Mumbai
										</span>				
											<a href="https://fundraisers.giveindia.org/fundraisers/khaanachahiye-mumbai-is-battling-hunger-along-with-covid-19-again" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li>
								
<!-- 
								<li>
									<div class="box">		
										<h3><a href="" target="blank">18. India</a> </h3>
										<span class="explanation">
										
										<br>
											<b>Email:</b> 
											<br>
											<b>Place:</b> PAN India
										</span>				
											<a href="" target="blank"> <br>
											<b>Contribute for a better future.</b>
										</a>
									</div>
								</li> -->


								
							</ul>

								
							
											
							
							<br><br>
							<section>
								<div class="cuscenter">
									<h2>Central Helpline Numbers:</h2>
									<a href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf" target="_blank">
										<img src="/images/covidhelpline.png" class title="click here" alt="covidhelpline" style="max-width: 150px;">
									</a>
								</div>
							</section>
							
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="https://www.instagram.com/covid.crushers/" target="blank" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/Polkam-Vineeth" target="blank" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="https://www.facebook.com/covid.crushers/" target="blank" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://twitter.com/Vineeth_Polkam" target="blank" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="mailto:covidcrushersinfo@gmail.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy;ovid &copy;rushes. All rights reserved</li>
								<!-- <li>Design: <a href="https://www.linkedin.com/in/polkamvineeth/" target="blank"> Vineeth Kumar </a></li> -->
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>