<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Covid Crushers</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="/images/rotatingLogo.svg" type ="image/x-icon">
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/noscript.css" /></noscript>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

		<style>
			#para{
				color: #ffffff; 
				text-shadow: 2px 2px 4px #000000;
			}
		</style>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="/images/rotatingLogo.svg" alt="" /></span><span class="title">Covid Crushers</span>
									
								</a>
								

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/login">Log in</a></li>
							<li><a href="/">Home</a></li>
							<li><a href="/origin">Covid-19 Origin</a></li>
							<li><a href="/covidstats">Covid19 Status</a></li>
							<li><a href="/covidResources">Covid19 Resources</a></li>
							<li><a href="/medications">Covid-19 Medications</a></li>
							<li><a href="/vaccine">Covid-19 vaccine slots</a></li>
							<li><a href="/sessionLogout">Log out</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<!-- <p>Let's Kill the virus together.</p> -->
								<h2>Helping people find useful information</h2>
								<p>Covid Crushers: a website dedicated to provide COVID-19 education, prevention, and local resources nationwide. </p>
								<!-- <p>Covid Crushers is the web application that helps the users by providing the better understanding of the global pandemic caused by the deadly “COVID-19”.</p> -->
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="/images/pinkbg.jpg" alt=""/>
									</span>
									<a href="/origin">
										<h2>Covid Origin</h2>
										<div class="content">
											<p id="para">Know how it all started.</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="/images/tiki-maski.jpg" alt="" />
									</span>
									<a href="/covidResources">
										<h2>Resources</h2>
										<div class="content">
											<p id="para">Get the Covid-19 resources.</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="/images/naturevirus1.jpg" alt="" />
									</span>
									<a href="/covidstats">
										<h2>Covid Status</h2>
										<div class="content">
											<p id="para">Tracking the virus!</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="/images/smp5.jpg" alt="" />
									</span>
									<a href="/symptoms">
										<h2>Symptoms</h2>
										<div class="content">
											<p id="para">The signs and symptoms of COVID-19.</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="/images/batman.jpg" alt="" />
									</span>
									<a href="/precautions">
										<h2 >Precautions</h2>
										<div class="content">
											<p id="para">All you need to know to protect yourself and others around you.</p>
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="/images/smp6.jpg" alt="" />
									</span>
									<a href="/medications">
										<h2>Medications</h2>
										<div class="content">
											<p id="para">Self-care and Medical treatments.</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="/images/compassionsun.jpg" alt="" />
									</span>
									<a href="/help">
										<h2>HelpLine</h2>
										<div class="content">
											<p id="para">HelpLine Numbers and List of NGOs providing relief during Covid-19.</p>
										</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="/images/vaccine2.jpg" alt="" />
									</span>
									<a href="/vaccine">
										<h2>Vaccine</h2>
										<div class="content">
											<p id="para">Vaccine Availability.</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="/images/compassionaboutus.jpg" alt="" />
									</span>
									<a href="/aboutus">
										<h2>About Us</h2>
										<div class="content">
											<p id="para">We the Covid Crushers.</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<p>Send a message and we will get back to you within 24 hours.</p>
			
								<form class="contact-form">
									<div class="contact-form fields">
										<div class="field half">
											<input class="name" type="text" name="name" id="name" placeholder="Name" required/>
										</div>
										<div class="field half">
											<input class="email" type="email" name="email" id="email" placeholder="Email" required/>
										</div>
										<div class="field">
											<textarea class="message" name="message" id="message" placeholder="Message" required></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><button type="submit" class="primary">Send</button>
										</li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="https://www.linkedin.com/in/polkamvineeth/" class="icon brands style2 fa-linkedin" target="blank"><span class="label">Linedin</span></a></li>
									<li><a href="https://github.com/Polkam-Vineeth" class="icon brands style2 fa-github" target="blank"><span class="label">GitHub</span></a></li>
									<li><a href="https://www.instagram.com/covid.crushers/" class="icon brands style2 fa-instagram" target="blank"><span class="label">Instagram</span></a></li>
									<li><a href="https://www.facebook.com/covid.crushers/" class="icon brands style2 fa-facebook-f" target="blank"><span class="label">Facebook</span></a></li>
									<li><a href="https://twitter.com/Vineeth_Polkam" class="icon brands style2 fa-twitter" target="blank"><span class="label">Twitter</span></a></li>
									<li><a href="mailto:covidcrushersinfo@gmail.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
									
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy;ovid &copy;rushes. All rights reserved</li>
								<!-- <li>Design: <a href="https://www.linkedin.com/in/polkamvineeth/" target="blank"> Vineeth Kumar </a></li> -->
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

		<!--firebase scripts -->
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>
    <script src="/assets/js/appCont.js"></script>

	</body>
</html>