<!DOCTYPE HTML>
<html>
	<head>
		<title>Medications</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link rel="icon" href="/images/rotatingLogo.svg" type ="image/x-icon">
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
		<style>
			body{
				background-color: #ffffff;
				color: #0D0D0D;
			}
			p{
				text-align: justify;
  			text-justify: inter-word;
			}

			.respimg {
				justify-content: center;
				width: 100%;
				max-width: 810px;
				max-height: 450px;
				height: auto;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		</style>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="../images/rotatingLogo.svg" alt="" /></span><span class="title">Covid Crushers</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				<nav id="menu">
					<h2>Menu</h2>
					<ul>
						<li><a href="/login">Log in</a></li>
						<li><a href="/">Home</a></li>
						<li><a href="/origin">Covid-19 Origin</a></li>
						<li><a href="/covidstats">Covid19 Status</a></li>
						<li><a href="/covidResources">Covid19 Resources</a></li>
						<li><a href="/medications">Covid-19 Medications</a></li>
						<li><a href="/vaccine">Covid-19 vaccine slots</a></li>
						<li><a href="/sessionLogout">Log out</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h2 style="font-size: 30px;">Covid-19 Medications</h2>
							
							<span class="image main"><img src="../images/war.png" alt="" class="respimg"/></span>

							<p>The most common symptoms of COVID-19 are a fever, coughing, and breathing problems. Unless you have severe symptoms, you can most likely treat them at home, the way you would for a cold or the flu. Most people recover from COVID-19 without the need for hospital care. Call your doctor to ask about whether you should stay home or get medical care in person.</p>
              <p>Scientists are trying to make new medicines and test some existing drugs to see whether they can treat COVID-19. In the meantime, there are a number of things that can relieve symptoms, both at home and at the hospital.</p>
                            
							<h3><b>At-Home Coronavirus Treatment</b></h3>
              	If your symptoms are mild enough that you can recover at home, you should:
              	<ul>
                    				<li>Rest. It can make you feel better and may speed your recovery.</li>
                             <li>Stay home. Don't go to work, school, or public places.</li>
                             <li>Drink fluids. You lose more water when you're sick. Dehydration can make symptoms worse and cause other health problems.</li>
                             <li>Monitor. If your symptoms get worse, call your doctor right away. Don't go to their office without calling first. They might tell you to stay home, or they may need to take extra steps to protect staff and other patients.
                            </li>
                             <li>Ask your doctor about over-the-counter medicines that may help, like acetaminophen to lower your fever.</li>
                            </ul>

                        <h3><b>Coronavirus Treatment in a Hospital</b></h3>
                             <p>You don't need to go to the hospital or ER if you have basic COVID-19 symptoms, like a mild fever or cough. If you do, many hospitals will send you home. If your case is severe, members of the medical staff will check for signs that the illness is causing more serious problems. They might:</p>
                             <ul>
                             <li>Check the levels of oxygen in your blood with a clip-on finger monitor</li>
                              <li>Listen to your lungs</li>
                              <li>Give you a COVID-19 test. This involves putting a 6-inch cotton swab up both sides of your nose for about 15 seconds.</li>
                               <li>Give you a chest X-ray or CT scan</li>
                  </ul>
                <p><span class="image right"><img src="../images/lifesavers.jpg" alt="" /></span>You may get extra oxygen through two small tubes that go just inside your nostrils. In very serious cases, doctors will connect you to a machine that can breathe for you, called a ventilator.You may also get fluids through a tube, or IV, in your arm to keep you from getting dehydrated. Doctors will also closely monitor your breathing. The goal is for your infection to run its course and for your lungs to heal enough that they can breathe on their own again.</p>
                <p>Your doctors may give you an antiviral medicine called <a href="https://en.wikipedia.org/wiki/Remdesivir"><b>Remdesivir (Veklury).</b></a> Remdesivir is the first drug approved by the FDA for treatment of hospitalized COVID patients over the age of 12. Research shows that some patients recover faster after taking it. Remdesivir was created to fight Ebola, but the FDA has issued an emergency use ruling so doctors can use it against COVID-19.</p>
                <p>Your doctor might also give you medication to thin your blood and prevent clots.If you take drugs such as angiotensin-converting enzyme (ACE) inhibitors, angiotensin receptor blockers (ARBs), or statins for other health problems, your doctor will tell you to continue them as usual. The FDA has issued an emergency use authorization (EUA) for two drugs called monoclonal antibodies to treat COVID-19. <a href="https://en.wikipedia.org/wiki/Casirivimab/imdevimab"><b>Casirivimab and imdevimab</b></a> can be given to high-risk patients who have recently been diagnosed with mild to moderate illness to lower levels of the virus in their bodies and lower the risk of hospitalization.  </p>
                <p>Many clinical trials are underway to explore treatments used for other conditions that could fight COVID-19 and to develop new ones. The FDA has also granted an EAU of blood plasma from people who've recovered from COVID-19 in order to help patients with severe or life-threatening cases. You'll hear this called convalescent plasma. Clinical trials are under way for other medications, including tocilizumab, which has been used to treat autoimmune conditions and an inflammatory condition called cytokine release syndrome.
								The FDA has rescinded its emergency authorization for the use of hydroxychloroquine and chloroquine to treat people who are hospitalized with COVID-19 amid serious concerns about their safety and how well they worked against the virus.</p>	



								<h2>#Healthy At Home: Healthy Diet</h2>
								<p><span class="image left"><img src="../images/heart-healthy-food.jpg" alt="" style="max-width: 250px;"></span>Eating a healthy diet is very important during the COVID-19 pandemic. What we eat and drink can affect our body’s ability to prevent, fight and recover from infections.While no foods or dietary supplements can prevent or cure COVID-19 infection, healthy diets are important for supporting immune systems. Good nutrition can also reduce the likelihood of developing other health problems, including obesity, heart disease, diabetes and some types of cancer.</p>
								<p>
								For babies, a healthy diet means exclusive breastfeeding in the first six months, with the introduction of nutritious and safe foods to complement breastmilk from age 6 months to 2 years and beyond. For young children, a healthy and balanced diet is essential for growth and development. For older people, it can help to ensure healthier and more active lives.</p>

								<ul>
									Tips for maintaining a healthy diet:
									<li>Eat a variety of food, including fruits and vegetables. </li>
									<li>Cut back on salt.</li>
									<li>Eat moderate amounts of fats and oils.</li>
									<li>Limit sugar intake.</li>
									<li>Stay hydrated: Drink enough water.</li>
									<li>Avoid hazardous and harmful alcohol use.</li>
								</ul>

								<br>

								<h2>#Healthy At Home: Physical activity</h2>
								<p><span class="image right"><img src="../images/beactive.png	" alt="" style="max-width: 300px;"></span>The COVID-19 pandemic means that many of us are staying at home  and sitting down more than we usually do. It’s hard for a lot of us to do the sort of exercise we normally do. It’s even harder for people who don’t usually do a lot of physical exercise. But at a time like this, it’s very important for people of all ages and abilities to be as active as possible.</p>
								<p> Doing any acivity around the home is better than none at all. Be active during the #covid19 outbreak to maintain your heart health, muscle strength and flexiblity. It is good for your mental health too!! </p>

								<ul>
									Tips to maintain your mental and physical health:
									<li>Do Excercise and Yoga asanas to stretch and strengthen muscles.</li>
									<li>Dance to musica and Sing a Song to boost mental health.</li>
									<li>Try Skipping rope.</li>
									<li>Walk up and down the stairs.</li>
									<li>Regularly check your sitting posture while working from home.</li>
									<li>Take a short breaks from sitting, by doing 3-4 minutes of light intensity physical movement.</li>
									<li>Seek more ideas & resources online.</li>
									
								</ul>

								
						</div>
					</div>

				<!-- Footer -->
				<footer id="footer">
					<div class="inner">
			
						<section>
							<h2>Follow</h2>
							<ul class="icons">
									<li><a href="https://www.instagram.com/covid.crushers/" target="blank" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/Polkam-Vineeth" target="blank" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="https://www.facebook.com/covid.crushers/" target="blank" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://twitter.com/Vineeth_Polkam" target="blank" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="mailto:covidcrushersinfo@gmail.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</section>
						<ul class="copyright">
							<li>&copy;ovid &copy;rushes. All rights reserved</li>
							<li>Design: <a href="https://www.linkedin.com/in/uday-reddy-polepally-a21759210/" target="blank"> Uday Reddy </a></li>
						</ul>
					</div>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>