<!DOCTYPE HTML>
<html>
	<head>
		<title>Precautions</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link rel="icon" href="/images/rotatingLogo.svg" type ="image/x-icon">
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
		<style>

			img{
				max-width: 400px;
				max-height: 400px;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			#pli{
				/* text-align: center; */
				padding:15px;
				margin: 15px;
				background-color: #d9dced;
				color: #000000;
				font-weight:normal;
				word-spacing: 2px;
				border-radius: 5px;
			}
			#pli:hover{
				background-color: #f0f3f7;
				color: #000000;
			}
			body{
				/* background-color: #333386; */
				color: #0D0D0D;
			}

			.imgrow {
				display: flex;
			}
			.imgcolumn {
				flex: 50%;
			}
		</style>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="../images/rotatingLogo.svg" alt="" /></span><span class="title">Covid Crushers</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				<nav id="menu">
					<h2>Menu</h2>
					<ul>
						<li><a href="/login">Log in</a></li>
						<li><a href="/">Home</a></li>
						<li><a href="/origin">Covid-19 Origin</a></li>
						<li><a href="/covidstats">Covid19 Status</a></li>
						<li><a href="/covidResources">Covid19 Resources</a></li>
						<li><a href="/medications">Covid-19 Medications</a></li>
						<li><a href="/vaccine">Covid-19 vaccine slots</a></li>
						<li><a href="/sessionLogout">Log out</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h2 style="font-size: 30px;">Covid-19 Precautions</h2>
							<!-- <span class="image main"> -->
								<!-- <img src="../images/pre1.jpg" alt="" width="400" height="400"/> -->
							<!-- </span> -->

							<div class="imgrow">
								<div class="imgcolumn">
									<img src="/images/pre1.jpg" style="width:100%">
								</div>
								<div class="imgcolumn">
									<img src="/images/precautionsandsafety.webp" style="width:100%">
								</div>
							</div>
							<br>
							<h2>Protect Yourself & Those Around You&#128567;</h2>
							 <p> - With rising COVID 19 cases in the country and changing weather, stigmas around coronavirus are also increasing. The best way to prevent the coronavirus is to not get it in the first place. You can lower your chances of getting or spreading the virus by following these steps:</p>
							<ul>
																<li id="pli"> Wear a mask when physical distancing is not possible.</li>
                                <li id="pli"> Clean your hands often for 20 Seconds. Use soap and water, or an alcohol-based hand rub.</li>
                                <li id="pli"> Use an alcohol-based hand sanitizer that contains at least 60% alcohol if soap and water are not available.</li>
                                <li id="pli">Maintain at least 1 meter (3 feet) distance between yourself and other people, particularly those who are coughing, sneezing and have a fever.</li>
                                <li id="pli">Don’t touch your eyes, nose or mouth.</li>
                                <li id="pli">Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
                                <li id="pli">Stay home if you feel unwell.</li>
                                <li id="pli">If you have a fever, cough and difficulty breathing, seek medical attention.</li>
                                <li id="pli">Calling in advance allows your healthcare provider to quickly direct you to the right health facility. This protects you, and prevents the spread of viruses and other infections.</li>
                                <li id="pli">
                                    Masks can help prevent the spread of the virus from the person wearing the mask to others. Masks alone do not protect against COVID-19, and should be combined with physical distancing and hand hygiene. Follow the advice provided by your local health authority.
                                    </li>
                                    <li id="pli">Avoid close contact with those sick.</li>
                                    <li id="pli">Regularly clean doorknobs,handles,light switches,tables with soap and water.</li>
                                    <li id="pli">Avoid sharing foods or drinks to others and don't share face masks.</li>
                                    <li id="pli">If you share a bathrooms with someone, regular cleaning and separate towels are must.</li>
                                 <li id="pli"> Always check local guidelines before planning your event.</li>
                                 <li id="pli">Stay home and stay safe as much as possible.</li>
                                </ul>

															

																<p id="pli">There are vaccines for COVID-19 and are available to the public, so you should consider getting one. 
																	<a style="color: rgb(255, 0, 0);" 
																	href="/vaccine" >Find a slot here> </a>
																</p>
						</div>
					</div>

				<!-- Footer -->
				<footer id="footer">
					<div class="inner">
			
						<section>
							<h2>Follow</h2>
							<ul class="icons">
									<li><a href="https://www.instagram.com/covid.crushers/" target="blank" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/Polkam-Vineeth" target="blank" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="https://www.facebook.com/covid.crushers/" target="blank" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://twitter.com/Vineeth_Polkam" target="blank" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="mailto:covidcrushersinfo@gmail.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</section>
						<ul class="copyright">
							<li>&copy;ovid &copy;rushes. All rights reserved</li>
							<li>Design: <a href="https://www.linkedin.com/in/uday-reddy-polepally-a21759210/" target="blank"> Uday Reddy </a></li>
						</ul>
					</div>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>