<!DOCTYPE HTML>
<html>
	<head>
		<title>Sign Up</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="/images/rotatingLogo.svg" type ="image/x-icon">
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="./ass.ts/css/noscript.css" /></noscript>
  

	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="../images/rotatingLogo.svg" alt="" /></span><span class="title">Covid Crushers</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				<nav id="menu">
					<h2>Menu</h2>
					<ul>
						<li><a href="/login">Log in</a></li>
						<li><a href="/">Home</a></li>
						<li><a href="/origin">Covid-19 Origin</a></li>
						<li><a href="/covidstats">Covid19 Status</a></li>
						<li><a href="/covidResources">Covid19 Resources</a></li>
						<li><a href="/medications">Covid-19 Medications</a></li>
						<li><a href="/vaccine">Covid-19 vaccine slots</a></li>
						<li><a href="/sessionLogout">Log out</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<p id="demo" style="color: red;"></p>
							<h1>SIGN UP</h1>
							<section>
                <form id="signup">
									<div class="contact-form fields">
									<div class="field half">
                  	<input type="text" name="uname" id="uname" placeholder="Username" required/>
									</div>
									</div>
									<div class="contact-form fields">
										<div class="field half">
											<input type="email" name="login" placeholder="Email Id" required/>
										</div>
										</div>
									<div class="contact-form fields">
									<div class="field half">
                  	<input type="password" name="password" id="pwd" placeholder="Password" required minlength="8"/>
									</div>
									</div>	
                  <button  class="primary" onclick="displayGreeting()">Sign up</button>
                  <div class="text-center">Already have an account? <a href="/login">Login here</a></div>
                </form>
                <br>
              </section>
						</div>

						
					</div>

				<!-- Footer -->

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>


			<!-- firebase auth -->

			<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>


			<script>

				function displayGreeting() {
					let uname = document.getElementById('uname').value;
					let pwd = document.getElementById('pwd').value;
					if (uname == '') {
            alert ("Username must not be empty.");
            return false;
          }
					else if(pwd.length<8){
						// alert ("Password should contain atleast 8 characters");
            return false;
					}
					else {
            alert("Welcome  "+ uname+"!!");
          	return true;
          }		
				}

        const firebaseConfig = {
            apiKey: "AIzaSyBtU0Vnqq8aGQuHc5VA-7uux6PcAC_5i_A",
            authDomain: "express-server-auth-4c9e1.firebaseapp.com",
            databaseURL: "https://express-server-auth-4c9e1-default-rtdb.firebaseio.com",
            projectId: "express-server-auth-4c9e1",
            storageBucket: "express-server-auth-4c9e1.appspot.com",
            messagingSenderId: "71515296468",
            appId: "1:71515296468:web:921b582fe7c47cd43de141"
        };

        firebase.initializeApp(firebaseConfig);

        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

        document
          .getElementById("signup")
          .addEventListener("submit", (event) => {
            event.preventDefault();
            const login = event.target.login.value;
            const password = event.target.password.value;

            firebase
              .auth()
              .createUserWithEmailAndPassword(login, password)
              .then(({ user }) => {
                return user.getIdToken().then((idToken) => {
                  return fetch("/sessionLogin", {
                    method: "POST",
                    headers: {
                      Accept: "application/json",
                      "Content-Type": "application/json",
                      "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                    },
                    body: JSON.stringify({ idToken }),
                  });
                });
              })
              .then(() => {
                return firebase.auth().signOut();
              })
              .then(() => {
                window.location.assign("/");
              })
              .catch((err) => {
                  document.getElementById("demo").innerHTML = err.message;
              });
            return false;
          });
      </script>

	</body>
</html>	