<!DOCTYPE HTML>
<html>
	<head>
		<title>Symptoms</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link rel="icon" href="/images/rotatingLogo.svg" type ="image/x-icon">
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>

		<style>
			p{
				text-align: justify;
  			text-justify: inter-word;
			}

			.respimg {
				justify-content: center;
				width: 100%;
				max-width: 800px;
				max-height: 370px;
				height: auto;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}

		</style>

	</head>
	<body class="is-preload" style="background-color:#19a1b7;color: #000000;">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="../images/rotatingLogo.svg" alt="" /></span><span class="title">Covid Crushers</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				<nav id="menu">
					<h2>Menu</h2>
					<ul>
						<li><a href="/login">Log in</a></li>
						<li><a href="/">Home</a></li>
						<li><a href="/origin">Covid-19 Origin</a></li>
						<li><a href="/covidstats">Covid19 Status</a></li>
						<li><a href="/covidResources">Covid19 Resources</a></li>
						<li><a href="/precautions">Covid-19 precautions</a></li>
						<li><a href="/help">Covid-19 HelpLine</a></li>
						<li><a href="/sessionLogout">Log out</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Covid-19 Symptoms</h1>
							<img src="/images/smp3.png" class="respimg" alt="" />
                            <div>
                              <p>
																<!-- <span class="image right"><img src="/images/sym1.jpg" alt=""> -->
                                <h2>Most Common Symptoms</h2>
																<p>Signs and symptoms of coronavirus disease 2019 (COVID-19) may appear two to 14 days after exposure. This time after exposure and before having symptoms is called the incubation period. Common signs and symptoms can include:
                                <ul>
                                    <li>Fever. </li>
                                    <li>Dry cough.</li>
                                    <li>Tiredness.</li>   
                                </ul>
																</p>
                              </p>

                              <p>    
                                <h2>Less Common Symptoms</h2>
																<p>Early symptoms of COVID-19 may include:</p>
                                <ul>
                                    <li>Loss of taste or smell. </li>
                                    <li>Nasal congestion.</li>
                                    <li>Conjunctivitis (also known as red eyes).</li>
                                    <li>Sore throat. </li>
                                    <li>Headache.</li>
                                    <li>Muscle or joint pain.</li>   
                                    <li>Different types of skin rash. </li>
                                    <li>Nausea or vomiting.</li>
                                    <li>Diarrhea.</li>   
                                    <li>Chills or dizziness.</li>    
                                </ul>
															</p>

                              <p>
                                <h2>Severe Symptoms</h2>
																<p></span>The severity of COVID-19 symptoms can range from very mild to severe. Some people may have only a few symptoms, and some people may have no symptoms at all. Some people may experience worsened symptoms, such as:</p>
                                <ul>
                                    <li>Shortness of breath. </li>
                                    <li>Loss of appetite. </li>
                                    <li>Confusion.</li>
                                    <li>Persistent pain or pressure in the chest.</li>
                                    <li>High temperature above 100.4°F (38°C).</li>     
                                </ul>
                              </p>
															<p>
																<h2>When to see a doctor</h2>
																<p>If you have COVID-19 signs or symptoms or you've been in contact with someone diagnosed with COVID-19, contact your doctor or clinic right away for medical advice. If you have emergency COVID-19 signs and symptoms, seek care immediately. Emergency signs and symptoms can include:
																</p>
																	<ul>
																		<li>Trouble breathing. </li>
																		<li>Persistent chest pain or pressure. </li>
																		<li>Inability to stay awake</li>
																		<li>New confusion</li>
																		<li>Pale, gray or blue-colored skin, lips or nail beds — depending on skin tone</li>     
																	</ul>
															</p>
                            </div>
						</div>
					</div>

				<!-- Footer -->
				<footer id="footer">
					<div class="inner">
			
						<section>
							<h2>Follow</h2>
							<ul class="icons">
								<li><a href="https://twitter.com/Vineeth_Polkam" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/covid.crushers/" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/covid.crushers/" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/Polkam-Vineeth" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="mailto:covidcrushersinfo@gmail.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</section>
						<ul class="copyright">
							<li>&copy;ovid &copy;rushes. All rights reserved</li>
						</ul>
					</div>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>